/?*
/?*/
!/gradle/
!/scripts/
!/src/
!/.gitignore
!/gradlew?*
!**/?*.gradle
!**/?*.txt
!**/?*.md
!**/?*.cmd
!**/?*.bat
!**/?*.iml
!**/?*.properties

# as per IntelliJ docs
!.idea/
**/.idea/workspace.xml
**/.idea/tasks.xml
